<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>入</key>
	<string>nhập</string>
	<key>自</key>
	<string>tự</string>
	<key>方</key>
	<string>phương </string>
	<key>父</key>
	<string>phụ</string>
	<key>竹</key>
	<string>trúc</string>
	<key>具</key>
	<string>cụ</string>
	<key>母</key>
	<string>mẫu</string>
	<key>主 </key>
	<string>chủ</string>
	<key>百</key>
	<string>bách</string>
	<key>米</key>
	<string>mễ</string>
	<key>学</key>
	<string>học</string>
	<key>子</key>
	<string>tử</string>
	<key>刀</key>
	<string>đao</string>
	<key>用</key>
	<string>dụng</string>
	<key>本</key>
	<string>bản</string>
	<key>半</key>
	<string>bán</string>
	<key>白</key>
	<string>bạch</string>
	<key>田</key>
	<string>điền</string>
	<key>出</key>
	<string>xuất</string>
	<key>木</key>
	<string>mộc</string>
	<key>文</key>
	<string>văn</string>
	<key>不</key>
	<string>bất</string>
	<key>天</key>
	<string>thiên</string>
	<key>中</key>
	<string>trung</string>
	<key>水</key>
	<string>thuỷ</string>
	<key>心</key>
	<string>tâm</string>
	<key>手</key>
	<string>thủ</string>
	<key>牛</key>
	<string>ngưu</string>
	<key>火</key>
	<string>hoả</string>
	<key>王</key>
	<string>vương</string>
	<key>円</key>
	<string>viên</string>
	<key>万</key>
	<string>vạn</string>
	<key>亡</key>
	<string>vong</string>
	<key>土 </key>
	<string>thổ</string>
	<key>大</key>
	<string>đại</string>
	<key>千</key>
	<string>thiên</string>
	<key>上</key>
	<string>thượng</string>
	<key>小 </key>
	<string>tiểu</string>
	<key>女 </key>
	<string>nữ</string>
	<key> 士</key>
	<string>sĩ</string>
	<key>山</key>
	<string>sơn</string>
	<key>才</key>
	<string>tài</string>
	<key>一</key>
	<string>nhất</string>
	<key>二</key>
	<string>nhị</string>
	<key>三</key>
	<string>tam</string>
	<key>四</key>
	<string>tứ</string>
	<key>五</key>
	<string>ngũ</string>
	<key>六</key>
	<string>lục</string>
	<key>七</key>
	<string>thất</string>
	<key>八</key>
	<string>bát</string>
	<key>九</key>
	<string>cửu</string>
	<key>十</key>
	<string>thập</string>
	<key>金</key>
	<string>kim</string>
	<key>目</key>
	<string>mục</string>
	<key>日</key>
	<string>nhật</string>
	<key>月</key>
	<string>nguyệt</string>
	<key>人</key>
	<string>nhân</string>
	<key>下</key>
	<string>hạ</string>
	<key>干</key>
	<string>cang</string>
	<key>力</key>
	<string>lực</string>
	<key>己</key>
	<string>kỷ</string>
	<key>口</key>
	<string>khẩu</string>
	<key>工</key>
	<string>công</string>
</dict>
</plist>
