<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>館</key>
	<string>quán</string>
	<key>飯</key>
	<string>phạn</string>
	<key>飲</key>
	<string>ẩm</string>
	<key>食</key>
	<string>thực</string>
	<key>軽</key>
	<string>khinh</string>
	<key>重</key>
	<string>trọng</string>
	<key>転</key>
	<string>chuyển</string>
	<key>車</key>
	<string>xa</string>
	<key>帰</key>
	<string>qui</string>
	<key>帳</key>
	<string>trướng</string>
	<key>布</key>
	<string>bố</string>
	<key>所</key>
	<string>sở</string>
	<key>新</key>
	<string>tân</string>
	<key>建</key>
	<string>kiến</string>
	<key>道</key>
	<string>đạo</string>
	<key>運</key>
	<string>vận</string>
	<key>遅</key>
	<string>trì</string>
	<key>速</key>
	<string>tốc</string>
	<key>近</key>
	<string>cận</string>
	<key>遠</key>
	<string>viễn</string>
	<key>遊</key>
	<string>du</string>
	<key>達</key>
	<string>đạt</string>
	<key>週</key>
	<string>chu</string>
	<key>理</key>
	<string>lí</string>
	<key>社</key>
	<string>xã</string>
	<key>去</key>
	<string>khứ</string>
	<key>切</key>
	<string>thiết</string>
	<key>堂</key>
	<string>đường</string>
	<key>場</key>
	<string>trường</string>
	<key>赤</key>
	<string>xích</string>
	<key>地</key>
	<string>địa</string>
	<key>無</key>
	<string>vô</string>
	<key>熱</key>
	<string>nhiệt</string>
	<key>緒</key>
	<string>tự</string>
	<key>紙</key>
	<string>chỉ</string>
	<key>終</key>
	<string>chung</string>
	<key>紹</key>
	<string>thiệu</string>
	<key>池</key>
	<string>trì</string>
	<key>海</key>
	<string>hải</string>
	<key>泳</key>
	<string>vịnh</string>
	<key>法</key>
	<string>pháp</string>
	<key>酒</key>
	<string>tửu</string>
	<key>涼</key>
	<string>lương</string>
	<key>洗</key>
	<string>tẩy</string>
	<key>消</key>
	<string>tiêu</string>
	<key>記</key>
	<string>kí</string>
	<key>読</key>
	<string>độc</string>
	<key>議</key>
	<string>nghị</string>
	<key>話</key>
	<string>thoại</string>
	<key>証</key>
	<string>chứng</string>
	<key>計</key>
	<string>kế</string>
	<key>誌</key>
	<string>chí</string>
	<key>語</key>
	<string>ngữ</string>
	<key>部</key>
	<string>bộ</string>
	<key>隣</key>
	<string>lân</string>
	<key>降</key>
	<string>giáng</string>
	<key>階</key>
	<string>giai</string>
	<key>院</key>
	<string>viện</string>
	<key>病</key>
	<string>bệnh</string>
	<key>席</key>
	<string>tịch</string>
	<key>店</key>
	<string>điếm</string>
	<key>度</key>
	<string>độ</string>
	<key>広</key>
	<string>quảng</string>
	<key>北</key>
	<string>bắc</string>
	<key>旅</key>
	<string>lữ</string>
	<key>発</key>
	<string>phát</string>
	<key>短</key>
	<string>đoản</string>
	<key>歌</key>
	<string>ca</string>
	<key>強</key>
	<string>cường</string>
	<key>起</key>
	<string>khởi</string>
	<key>歳</key>
	<string>tuế</string>
	<key>歩</key>
	<string>bộ</string>
	<key>少</key>
	<string>thiểu</string>
	<key>象</key>
	<string>tượng</string>
	<key>魚</key>
	<string>ngư</string>
	<key>色</key>
	<string>sắt</string>
	<key>鳥</key>
	<string>điểu</string>
	<key>駅</key>
	<string>dịch</string>
	<key>馬</key>
	<string>mã</string>
	<key>簡</key>
	<string>giản</string>
	<key>箱</key>
	<string>tương</string>
	<key>段</key>
	<string>đoạn</string>
	<key>忘</key>
	<string>vong</string>
	<key>悪</key>
	<string>ác</string>
	<key>性</key>
	<string>tính</string>
	<key>散</key>
	<string>tản</string>
	<key>教</key>
	<string>giáo</string>
	<key>変</key>
	<string>biến</string>
	<key>夏</key>
	<string>hạ</string>
	<key>冬</key>
	<string>đông</string>
	<key>友</key>
	<string>hữu</string>
	<key>戻</key>
	<string>lệ</string>
	<key>屋</key>
	<string>ốc</string>
	<key>残</key>
	<string>tàn</string>
	<key>外</key>
	<string>ngoại</string>
	<key>動</key>
	<string>động</string>
	<key>勉</key>
	<string>miễn</string>
	<key>務</key>
	<string>vụ</string>
	<key>花</key>
	<string>hoa</string>
	<key>茶</key>
	<string>trà</string>
	<key>菓</key>
	<string>quả</string>
	<key>列</key>
	<string>liệt</string>
	<key>前</key>
	<string>tiền</string>
	<key>難</key>
	<string>nan</string>
	<key>雑</key>
	<string>tạp</string>
	<key>電</key>
	<string>điện</string>
	<key>雨</key>
	<string>vũ</string>
	<key>買</key>
	<string>mãi</string>
	<key>財</key>
	<string>tài</string>
	<key>銀</key>
	<string>ngân</string>
	<key>金</key>
	<string>kim</string>
	<key>聞</key>
	<string>văn</string>
	<key>間</key>
	<string>gian</string>
	<key>門</key>
	<string>môn</string>
	<key>静</key>
	<string>tĩnh</string>
	<key>青</key>
	<string>thanh</string>
	<key>朝</key>
	<string>triều</string>
	<key>育</key>
	<string>dục</string>
	<key>有</key>
	<string>hữu</string>
	<key>月</key>
	<string>nguyệt</string>
	<key>親</key>
	<string>thân</string>
	<key>見</key>
	<string>kiến</string>
	<key>題</key>
	<string>đề</string>
	<key>真</key>
	<string>chân</string>
	<key>暇</key>
	<string>hạ</string>
	<key>春</key>
	<string>xuân</string>
	<key>映</key>
	<string>ánh</string>
	<key>楽</key>
	<string>lạc</string>
	<key>音</key>
	<string>âm</string>
	<key>昼</key>
	<string>trú</string>
	<key>昨</key>
	<string>tạc</string>
	<key>暑</key>
	<string>thử</string>
	<key>暗</key>
	<string>ám</string>
	<key>明</key>
	<string>minh</string>
	<key>時</key>
	<string>thời</string>
	<key>者</key>
	<string>giả</string>
	<key>医</key>
	<string>y</string>
	<key>向</key>
	<string>hướng</string>
	<key>南</key>
	<string>nam</string>
	<key>同</key>
	<string>đồng</string>
	<key>肉</key>
	<string>nhục</string>
	<key>円</key>
	<string>viên</string>
	<key>単</key>
	<string>đơn</string>
	<key>易</key>
	<string>dịch</string>
	<key>早</key>
	<string>tảo</string>
	<key>白</key>
	<string>bạch</string>
	<key>皆</key>
	<string>giai</string>
	<key>書</key>
	<string>thư</string>
	<key>町</key>
	<string>đinh</string>
	<key>田</key>
	<string>điền</string>
	<key>回</key>
	<string>hồi</string>
	<key>園</key>
	<string>viên</string>
	<key>図</key>
	<string>đồ</string>
	<key>国</key>
	<string>quốc</string>
	<key>研</key>
	<string>nghiên</string>
	<key>喫</key>
	<string>khiết</string>
	<key>古</key>
	<string>cổ</string>
	<key>台</key>
	<string>đài</string>
	<key>員</key>
	<string>viên</string>
	<key>名</key>
	<string>danh</string>
	<key>狭</key>
	<string>hiệp</string>
	<key>犬</key>
	<string>khuyển</string>
	<key>物</key>
	<string>vật</string>
	<key>授</key>
	<string>thụ</string>
	<key>料</key>
	<string>liệu</string>
	<key>秋</key>
	<string>thu</string>
	<key>私</key>
	<string>tư</string>
	<key>業</key>
	<string>nghiệp</string>
	<key>末</key>
	<string>mạt</string>
	<key>桜</key>
	<string>anh</string>
	<key>来</key>
	<string>lai</string>
	<key>東</key>
	<string>đông</string>
	<key>机</key>
	<string>kỷ</string>
	<key>校</key>
	<string>hiệu</string>
	<key>本</key>
	<string>bản</string>
	<key>受</key>
	<string>thụ</string>
	<key>学</key>
	<string>học</string>
	<key>写</key>
	<string>tả</string>
	<key>夜</key>
	<string>dạ</string>
	<key>京</key>
	<string>kinh</string>
	<key>高</key>
	<string>cao</string>
	<key>文</key>
	<string>văn</string>
	<key>窓</key>
	<string>song</string>
	<key>寮</key>
	<string>liêu</string>
	<key>宿</key>
	<string>túc</string>
	<key>寝</key>
	<string>tẩm</string>
	<key>安</key>
	<string>an</string>
	<key>寒</key>
	<string>hàn</string>
	<key>家</key>
	<string>gia</string>
	<key>室</key>
	<string>thất</string>
	<key>究</key>
	<string>cứu</string>
	<key>後</key>
	<string>hậu</string>
	<key>行</key>
	<string>hành</string>
	<key>夫</key>
	<string>phu</string>
	<key>丈</key>
	<string>trượng</string>
	<key>天</key>
	<string>thiên</string>
	<key>先</key>
	<string>tiên</string>
	<key>元</key>
	<string>nguyên</string>
	<key>気</key>
	<string>khí</string>
	<key>毎</key>
	<string>mỗi</string>
	<key>年</key>
	<string>niên</string>
	<key>午</key>
	<string>ngọ</string>
	<key>全</key>
	<string>toàn</string>
	<key>舎</key>
	<string>xá</string>
	<key>念</key>
	<string>niệm</string>
	<key>公</key>
	<string>công</string>
	<key>分</key>
	<string>phân</string>
	<key>今</key>
	<string>kim</string>
	<key>介</key>
	<string>giới</string>
	<key>会</key>
	<string>hội</string>
	<key>便</key>
	<string>tiện</string>
	<key>使</key>
	<string>sử</string>
	<key>何</key>
	<string>hà</string>
	<key>低</key>
	<string>đê</string>
	<key>付</key>
	<string>phó</string>
	<key>仕</key>
	<string>sĩ</string>
	<key>体</key>
	<string>thể</string>
	<key>休</key>
	<string>hưu</string>
</dict>
</plist>
