<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>卜</key>
	<string>Nhân Đứng</string>
	<key> 亠</key>
	<string>Bộ Đầu</string>
	<key>耒</key>
	<string>Bộ Lỗi</string>
	<key>金</key>
	<string>Bộ Kim</string>
	<key>乙</key>
	<string>Nét Ất</string>
	<key>皿</key>
	<string>Bộ Mảnh</string>
	<key>罒</key>
	<string>Bộ Võng</string>
	<key>隹</key>
	<string>Bộ Chuy</string>
	<key>酉</key>
	<string>Bộ Dậu</string>
	<key>弓</key>
	<string>Bộ Cung</string>
	<key>頁</key>
	<string>Bộ Hiệt</string>
	<key>貝</key>
	<string>Bộ Bối</string>
	<key>癶</key>
	<string>Bộ Bát</string>
	<key>殳</key>
	<string>Bộ Thù</string>
	<key>欠</key>
	<string>Bộ Khiếm</string>
	<key>斗</key>
	<string>Bộ Đẩu</string>
	<key>豕</key>
	<string>Bộ Thỉ</string>
	<key>礻</key>
	<string>Bộ Thị</string>
	<key>艹</key>
	<string>Bộ Thảo</string>
	<key>寸</key>
	<string>Bộ Thốn</string>
	<key>禾</key>
	<string>Bộ Hoà</string>
	<key>彐</key>
	<string>Bộ Kí</string>
	<key>歹</key>
	<string>Bộ Ngạt</string>
	<key>夕</key>
	<string>Bộ Tịch</string>
	<key>冂</key>
	<string>Bộ Quynh</string>
	<key>囗</key>
	<string>Bộ Vi</string>
	<key>斤</key>
	<string>Bộ Căn</string>
	<key>巾</key>
	<string>Bộ Cân</string>
	<key>戶</key>
	<string>Bộ Hộ</string>
	<key>尸</key>
	<string>Bộ Thi</string>
	<key>辶</key>
	<string>Bộ Sước</string>
	<key>廴</key>
	<string>Bộ Dẫn</string>
	<key>戈</key>
	<string>Bộ Qua</string>
	<key>弋</key>
	<string>Bộ Dặc</string>
	<key>夊</key>
	<string>Bộ Truy</string>
	<key>又</key>
	<string>Bộ Hựu</string>
	<key>幺</key>
	<string>Bộ Ti</string>
	<key>厶</key>
	<string>Bộ Khư</string>
	<key>疒</key>
	<string>Bộ Nạch</string>
	<key>广</key>
	<string>Bộ Nghiễm</string>
	<key>厂</key>
	<string>Bộ Hán</string>
	<key>卩</key>
	<string>Bộ Tiết</string>
	<key>忄</key>
	<string>Bộ Tâm</string>
	<key>彳</key>
	<string>Bộ Sách</string>
	<key>彡</key>
	<string>Bộ Sam</string>
	<key>竹</key>
	<string>Bộ Trúc</string>
	<key>爫</key>
	<string>Bộ Trảo</string>
	<key>冫</key>
	<string>2 Chấm Băng</string>
	<key>勹</key>
	<string>Bộ Bao</string>
	<key>儿</key>
	<string>Nhân đi</string>
	<key>刂</key>
	<string>Bộ Đao</string>
	<key>冖</key>
	<string>Bộ Mịch</string>
	<key>宀</key>
	<string>Bộ Miên</string>
	<key>亅</key>
	<string>Nét Quyết</string>
	<key>丿</key>
	<string>Nét Phiệt</string>
	<key>丶</key>
	<string>Chấm chủ</string>
	<key>丨</key>
	<string>Nét Cổn</string>
	<key>一</key>
	<string>Nét Nhất</string>
</dict>
</plist>
