<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>負</key>
	<string>phụ</string>
	<key>商</key>
	<string>thương</string>
	<key>速</key>
	<string>tốc</string>
	<key>由</key>
	<string>do</string>
	<key>際</key>
	<string>tế</string>
	<key>寄</key>
	<string>kí</string>
	<key>放</key>
	<string>phóng</string>
	<key>般</key>
	<string>ban</string>
	<key>連</key>
	<string>liên</string>
	<key>細</key>
	<string>tế</string>
	<key>箱</key>
	<string>tương</string>
	<key>点</key>
	<string>điểm</string>
	<key>凍</key>
	<string>đông</string>
	<key>像</key>
	<string>tượng</string>
	<key>必</key>
	<string>tất</string>
	<key>埋</key>
	<string>mai</string>
	<key>貨</key>
	<string>hoá</string>
	<key>児</key>
	<string>nhi</string>
	<key>関</key>
	<string>quan</string>
	<key>販</key>
	<string>phiến</string>
	<key>収</key>
	<string>thu</string>
	<key>殿</key>
	<string>điện</string>
	<key>届</key>
	<string>giới</string>
	<key>担</key>
	<string>đảm</string>
	<key>流</key>
	<string>lưu</string>
	<key>責</key>
	<string>trách</string>
	<key>確</key>
	<string>xác</string>
	<key>示</key>
	<string>thị</string>
	<key>他</key>
	<string>tha</string>
	<key>協</key>
	<string>hiệp</string>
	<key>付</key>
	<string>phó</string>
	<key>貯</key>
	<string>trữ</string>
	<key>案</key>
	<string>án</string>
	<key>取</key>
	<string>thủ</string>
	<key>蔵</key>
	<string>tàng</string>
	<key>受</key>
	<string>thụ</string>
	<key>燃</key>
	<string>nhiên</string>
	<key>券</key>
	<string>khoán</string>
	<key>各</key>
	<string>các</string>
	<key>務</key>
	<string>vụ</string>
	<key>療</key>
	<string>tế</string>
	<key>精</key>
	<string>tinh</string>
	<key>保</key>
	<string>bảo</string>
	<key>当</key>
	<string>đương</string>
	<key>片</key>
	<string>phiến</string>
	<key>救</key>
	<string>cứu</string>
	<key>存</key>
	<string>tồn</string>
	<key>交</key>
	<string>giao</string>
	<key>信</key>
	<string>tín</string>
	<key>忘</key>
	<string>vong</string>
	<key>等</key>
	<string>đẳng</string>
	<key>調</key>
	<string>điều</string>
	<key>込</key>
	<string>nhập</string>
	<key>教</key>
	<string>giáo</string>
	<key>団</key>
	<string>đoàn</string>
	<key>法</key>
	<string>pháp</string>
	<key>全</key>
	<string>toàn</string>
	<key>様</key>
	<string>dạng</string>
	<key>積</key>
	<string>tích</string>
	<key>畑</key>
	<string>ruộng</string>
	<key>経</key>
	<string>kinh</string>
	<key>装</key>
	<string>trang</string>
	<key>周</key>
	<string>chu</string>
	<key>賃</key>
	<string>nhẩm</string>
	<key>葉</key>
	<string>diệp</string>
	<key>器</key>
	<string>khí</string>
	<key>婦</key>
	<string>phụ</string>
	<key>科</key>
	<string>khoa</string>
	<key>拡</key>
	<string>khuyêch</string>
	<key>修</key>
	<string>tu</string>
	<key>汚</key>
	<string>ô</string>
	<key>結</key>
	<string>kết</string>
	<key>煙</key>
	<string>yên</string>
	<key>落</key>
	<string>lạc</string>
	<key>資</key>
	<string> tài</string>
	<key>鉄</key>
	<string>thiết</string>
	<key>機</key>
	<string>cơ</string>
	<key>段</key>
	<string>đoạn</string>
	<key>留</key>
	<string>lưu</string>
	<key>印</key>
	<string>ấn</string>
	<key>共</key>
	<string>cộng</string>
	<key>危</key>
	<string>nguy</string>
	<key>割</key>
	<string>cát</string>
	<key>側</key>
	<string>trắc</string>
	<key>捨</key>
	<string>xả</string>
	<key>遊</key>
	<string>du</string>
	<key>快</key>
	<string>khoái</string>
	<key>件</key>
	<string>kiện</string>
	<key>郊</key>
	<string>giao</string>
	<key>線</key>
	<string>tuyến</string>
	<key>配</key>
	<string>phối</string>
	<key>過</key>
	<string>quá</string>
	<key>号</key>
	<string>hiệu</string>
	<key>任</key>
	<string>nhiệm</string>
	<key>枚</key>
	<string>mai</string>
	<key>降</key>
	<string>giáng</string>
	<key>平</key>
	<string>bình</string>
	<key>普</key>
	<string>phổ</string>
	<key>照</key>
	<string>chiếu</string>
	<key>額</key>
	<string>ngạch</string>
	<key>返</key>
	<string>phản</string>
	<key>達</key>
	<string>đạt</string>
	<key>絡</key>
	<string>lạc</string>
	<key>限</key>
	<string>hạn</string>
	<key>違</key>
	<string>vi</string>
	<key>雑</key>
	<string>tạp</string>
	<key>延</key>
	<string>diên</string>
	<key>駐</key>
	<string>trú</string>
	<key>曲</key>
	<string>khúc</string>
	<key>整</key>
	<string>chỉnh</string>
	<key>番</key>
	<string>phiên</string>
	<key>了</key>
	<string>liễu</string>
	<key>深</key>
	<string>thâm</string>
	<key>幼</key>
	<string>ấu</string>
	<key>内</key>
	<string>nội</string>
	<key>泳</key>
	<string>vịnh</string>
	<key>編</key>
	<string>biên</string>
	<key>包</key>
	<string>bao</string>
	<key>硬</key>
	<string>ngạnh</string>
	<key>歳</key>
	<string>tuế</string>
	<key>歴</key>
	<string>lịch</string>
	<key>願</key>
	<string>nguyện</string>
	<key>静</key>
	<string>tĩnh</string>
	<key>衣</key>
	<string>y</string>
	<key>封</key>
	<string>phong</string>
	<key>異</key>
	<string>dị</string>
	<key>個</key>
	<string>cá</string>
	<key>飛</key>
	<string>phi</string>
	<key>決</key>
	<string>quyết</string>
	<key>石</key>
	<string>thạch</string>
	<key>非</key>
	<string>phi</string>
	<key>替</key>
	<string>đổi</string>
	<key>類</key>
	<string>loại</string>
	<key>表</key>
	<string>biểu</string>
	<key>変</key>
	<string>biến</string>
	<key>守</key>
	<string>bảo</string>
	<key>掃</key>
	<string>tiêu</string>
	<key>再</key>
	<string>tái</string>
	<key>相</key>
	<string>tương</string>
	<key>難</key>
	<string>nan</string>
	<key>練</key>
	<string>luyện</string>
	<key>指</key>
	<string>chỉ</string>
	<key>完</key>
	<string>hoàn</string>
	<key>満</key>
	<string>mãn</string>
	<key>登</key>
	<string>đăng</string>
	<key>文</key>
	<string>văn</string>
	<key>現</key>
	<string>hiện</string>
	<key>移</key>
	<string>di</string>
	<key>議</key>
	<string>nghị</string>
	<key>化</key>
	<string>hoá</string>
	<key>路</key>
	<string>lộ</string>
	<key>清</key>
	<string>thanh</string>
	<key>備</key>
	<string>bị</string>
	<key>式</key>
	<string>thức</string>
	<key>荷</key>
	<string>hà</string>
	<key>消</key>
	<string>tiêu</string>
	<key>済</key>
	<string>tế</string>
	<key>禁</key>
	<string>cấm</string>
	<key>残</key>
	<string>tàn</string>
	<key>能</key>
	<string>năng</string>
	<key>領</key>
	<string>lãnh</string>
	<key>両</key>
	<string>lưỡng</string>
	<key>郵</key>
	<string>bưu</string>
	<key>玉</key>
	<string>ngọc</string>
	<key>老</key>
	<string>lão</string>
	<key>定</key>
	<string>định</string>
	<key>加</key>
	<string>gia</string>
	<key>迷</key>
	<string>mê</string>
	<key>選</key>
	<string>tuyển</string>
	<key>紅</key>
	<string>hồng</string>
	<key>製</key>
	<string>chế</string>
	<key>要</key>
	<string>yếu</string>
	<key>険</key>
	<string>hiểm</string>
	<key>客</key>
	<string>khách</string>
	<key>準</key>
	<string>chuẩn</string>
	<key>優</key>
	<string>ưu</string>
	<key>利</key>
	<string>lợi</string>
	<key>御</key>
	<string>ngự</string>
	<key>果</key>
	<string>quả</string>
	<key>検</key>
	<string>trừ</string>
	<key>在</key>
	<string>tại</string>
	<key>枝</key>
	<string>chi</string>
	<key>期</key>
	<string>kỳ</string>
	<key>喫</key>
	<string>khiết</string>
	<key>窓</key>
	<string>song</string>
	<key>座</key>
	<string>toạ</string>
	<key>袋</key>
	<string>đại</string>
	<key>頂</key>
	<string>đỉnh</string>
	<key>誌</key>
	<string>chí</string>
	<key>復</key>
	<string>phục</string>
	<key>越</key>
	<string>việt</string>
	<key>認</key>
	<string>nhận</string>
	<key>算</key>
	<string>toán</string>
	<key>央</key>
	<string>ương</string>
	<key>規</key>
	<string>qui</string>
	<key>席</key>
	<string>tịch</string>
	<key>閉</key>
	<string>bế</string>
	<key>冷</key>
	<string>lãnh</string>
	<key>帯</key>
	<string>giới</string>
	<key>刷</key>
	<string>loát</string>
	<key>未</key>
	<string>vị</string>
	<key>営</key>
	<string>doanh</string>
	<key>訓</key>
	<string>huấn</string>
	<key>効</key>
	<string>hiệu</string>
	<key>膚</key>
	<string>phu</string>
	<key>断</key>
	<string>đoạn</string>
	<key>刻</key>
	<string>khắc</string>
	<key>札</key>
	<string>trát</string>
	<key>温</key>
	<string>ôn</string>
	<key>支</key>
	<string>chi</string>
	<key>階</key>
	<string>giai</string>
	<key>管</key>
	<string>quản</string>
	<key>記</key>
	<string>kí</string>
	<key>便</key>
	<string>tiện</string>
	<key>預</key>
	<string>dự</string>
	<key>械</key>
	<string>khí</string>
	<key>容</key>
	<string>dung</string>
	<key>常</key>
	<string>thường</string>
	<key>係</key>
	<string>hệ</string>
	<key>符</key>
	<string>phù</string>
	<key>港</key>
	<string>cảng</string>
	<key>参</key>
	<string>tham</string>
	<key>署</key>
	<string>thự</string>
	<key>戻</key>
	<string>lệ</string>
	<key>改</key>
	<string>cải</string>
	<key>皮</key>
	<string>bì</string>
	<key>局</key>
	<string>cục</string>
	<key>押</key>
	<string>áp</string>
	<key>依</key>
	<string>y</string>
	<key>頼</key>
	<string>lại</string>
	<key>府</key>
	<string>phủ</string>
	<key>到</key>
	<string>đáo</string>
	<key>希</key>
	<string>hy</string>
	<key>望</key>
	<string>vọng</string>
	<key>申</key>
	<string>thân</string>
	<key>姓</key>
	<string>tính</string>
	<key>齢</key>
	<string>linh</string>
	<key>性</key>
	<string>tính</string>
	<key>宅</key>
	<string>trạch</string>
	<key>勤</key>
	<string>cần</string>
	<key>部</key>
	<string>bộ</string>
	<key>婚</key>
	<string>hôn</string>
	<key>招</key>
	<string>chiêu</string>
	<key>状</key>
	<string>trạng</string>
	<key>欠</key>
	<string>khuyết</string>
	<key>喜</key>
	<string>hỉ</string>
	<key>治</key>
	<string>trị</string>
	<key>委</key>
	<string>uỷ</string>
	<key>税</key>
	<string>thuế</string>
	<key>舞</key>
	<string>vũ</string>
	<key>礼</key>
	<string>lễ</string>
	<key>忙</key>
	<string>mang</string>
	<key>妻</key>
	<string>thê</string>
	<key>張</key>
	<string>trương</string>
	<key>奥</key>
	<string>áo</string>
	<key>浅</key>
	<string>thiển</string>
	<key>君</key>
	<string>quân</string>
	<key>久</key>
	<string>cửu</string>
	<key>互</key>
	<string>hỗ</string>
	<key>追</key>
	<string>truy</string>
	<key>伸</key>
	<string>thân</string>
	<key>皆</key>
	<string>giai</string>
	<key>暮</key>
	<string>mộ</string>
	<key>慣</key>
	<string>quán</string>
	<key>活</key>
	<string>hoạt</string>
	<key>恋</key>
	<string>luyến</string>
	<key>健</key>
	<string>kiện</string>
	<key>康</key>
	<string>khang</string>
	<key>祈</key>
	<string>kỳ</string>
	<key>福</key>
	<string>phúc</string>
	<key>拝</key>
	<string>bái</string>
	<key>打</key>
	<string>đả</string>
	<key>伺</key>
	<string>tỉ</string>
	<key>幸</key>
	<string>hạnh</string>
	<key>失</key>
	<string>thất</string>
	<key>突</key>
	<string>đột</string>
	<key>然</key>
	<string>nhiên</string>
	<key>諸</key>
	<string>chủ</string>
	<key>情</key>
	<string>tình</string>
	<key>退</key>
	<string>thoái</string>
	<key>職</key>
	<string>chức</string>
	<key>紹</key>
	<string>thiệu</string>
	<key>介</key>
	<string>giới</string>
	<key>次</key>
	<string>thứ</string>
	<key>章</key>
	<string>chương</string>
	<key>対</key>
	<string>đối</string>
	<key>最</key>
	<string>tối</string>
	<key>適</key>
	<string>thích</string>
	<key>誤</key>
	<string>ngộ</string>
	<key>直</key>
	<string>trực</string>
	<key>例</key>
	<string>lệ</string>
	<key>詞</key>
	<string>từ</string>
	<key>形</key>
	<string>hình</string>
	<key>助</key>
	<string>trợ</string>
	<key>副</key>
	<string>phó</string>
	<key>囲</key>
	<string>vi</string>
	<key>夢</key>
	<string>mộng</string>
	<key>専</key>
	<string>chuyên</string>
	<key>史</key>
	<string>sử</string>
	<key>域</key>
	<string>vực</string>
	<key>祭</key>
	<string>tế</string>
	<key>査</key>
	<string>tra</string>
	<key>戦</key>
	<string>chiến</string>
	<key>争</key>
	<string>tranh</string>
	<key>将</key>
	<string>tương</string>
	<key>橋</key>
	<string>kiều</string>
	<key>殺</key>
	<string>sát</string>
	<key>悲</key>
	<string>bi</string>
	<key>恥</key>
	<string>sĩ</string>
	<key>感</key>
	<string>cảm</string>
	<key>球</key>
	<string>cầu</string>
	<key>和</key>
	<string>hoà</string>
	<key>愛</key>
	<string>ái</string>
	<key>仲</key>
	<string>trọng</string>
	<key>良</key>
	<string>lương</string>
	<key>傾</key>
	<string>khuynh</string>
	<key>横</key>
	<string>hoành</string>
	<key>湯</key>
	<string>thang</string>
	<key>恐</key>
	<string>khủng</string>
	<key>原</key>
	<string>nguyên</string>
	<key>因</key>
	<string>nhân</string>
	<key>置</key>
	<string>trí</string>
	<key>寝</key>
	<string>tẩm</string>
	<key>熱</key>
	<string>nhiệt</string>
	<key>焼</key>
	<string>thiêu</string>
	<key>触</key>
	<string>xúc</string>
	<key>灯</key>
	<string>đăng</string>
	<key>油</key>
	<string>du</string>
	<key>余</key>
	<string>dư</string>
	<key>溶</key>
	<string>dung</string>
	<key>濯</key>
	<string>trạc</string>
	<key>接</key>
	<string>tiếp</string>
	<key>塗</key>
	<string>đồ</string>
	<key>緒</key>
	<string>chỉ</string>
	<key>泥</key>
	<string>nê</string>
	<key>黄</key>
	<string>kim</string>
	<key>途</key>
	<string>đồ</string>
	<key>具</key>
	<string>cụ</string>
	<key>床</key>
	<string>sàng</string>
	<key>壁</key>
	<string>bích</string>
	<key>乾</key>
	<string>kiền</string>
	<key>怖</key>
	<string>bố</string>
	<key>柱</key>
	<string>trụ</string>
	<key>虫</key>
	<string>trùng</string>
	<key>歯</key>
	<string>sỉ</string>
	<key>防</key>
	<string>phòng</string>
	<key>磨</key>
	<string>ma</string>
	<key>抜</key>
	<string>bạt</string>
	<key>悩</key>
	<string>não</string>
	<key>髪</key>
	<string>phát</string>
	<key>刺</key>
	<string>thích</string>
	<key>肩</key>
	<string>biên</string>
	<key>腰</key>
	<string>yêu</string>
	<key>節</key>
	<string>tiết</string>
	<key>神</key>
	<string>thần</string>
	<key>痛</key>
	<string>thống</string>
	<key>浴</key>
	<string>dục</string>
	<key>的</key>
	<string>đích</string>
	<key>汗</key>
	<string>hãn</string>
	<key>師</key>
	<string>sư</string>
	<key>談</key>
	<string>đàm</string>
	<key>燥</key>
	<string>táo</string>
	<key>折</key>
	<string>chiết</string>
	<key>賞</key>
	<string>thưởng</string>
	<key>庫</key>
	<string>khố</string>
	<key>造</key>
	<string>tạo</string>
	<key>費</key>
	<string>phí</string>
	<key>可</key>
	<string>khả</string>
	<key>秒</key>
	<string>miễu</string>
	<key>身</key>
	<string>thân</string>
	<key>召</key>
	<string>triệu</string>
	<key>杯</key>
	<string>bôi</string>
	<key>沸</key>
	<string>phí</string>
	<key>粉</key>
	<string>phấn</string>
	<key>末</key>
	<string>mạt</string>
	<key>栄</key>
	<string>vinh</string>
	<key>鳴</key>
	<string>minh</string>
	<key>訪</key>
	<string>phỏng</string>
	<key>呼</key>
	<string>hô</string>
	<key>警</key>
	<string>cảnh</string>
	<key>報</key>
	<string>báo</string>
	<key>裏</key>
	<string>lý</string>
	<key>差</key>
	<string>sai</string>
	<key>続</key>
	<string>tục</string>
	<key>辞</key>
	<string>từ</string>
	<key>面</key>
	<string>diện</string>
	<key>操</key>
	<string>thao</string>
	<key>実</key>
	<string>thực</string>
	<key>列</key>
	<string>liệt</string>
	<key>得</key>
	<string>đắc</string>
	<key>告</key>
	<string>cáo</string>
	<key>価</key>
	<string>giá</string>
	<key>格</key>
	<string>cách</string>
	<key>超</key>
	<string>siêu</string>
	<key>均</key>
	<string>quân</string>
	<key>靴</key>
	<string>ngoa</string>
	<key>供</key>
	<string>cung</string>
	<key>象</key>
	<string>tượng</string>
	<key>組</key>
	<string>tổ</string>
	<key>値</key>
	<string>trị</string>
	<key>募</key>
	<string>mộ</string>
	<key>無</key>
	<string>vô</string>
	<key>詰</key>
	<string>cật</string>
	<key>麦</key>
	<string>mạch</string>
	<key>純</key>
	<string>thuần</string>
	<key>草</key>
	<string>thảo</string>
	<key>塩</key>
	<string>diêm</string>
	<key>固</key>
	<string>cố</string>
	<key>演</key>
	<string>diễn</string>
	<key>菓</key>
	<string>quả</string>
	<key>贈</key>
	<string>tặng</string>
	<key>省</key>
	<string>tỉnh</string>
	<key>承</key>
	<string>thừa</string>
	<key>展</key>
	<string>triển</string>
	<key>破</key>
	<string>phá</string>
	<key>処</key>
	<string>xử</string>
	<key>泉</key>
	<string>tuyền</string>
	<key>宿</key>
	<string>túc</string>
	<key>季</key>
	<string>quý</string>
	<key>豊</key>
	<string>phong</string>
	<key>迎</key>
	<string>nghênh</string>
	<key>泊</key>
	<string>bạc</string>
	<key>居</key>
	<string>cư</string>
	<key>築</key>
	<string>trúc</string>
	<key>角</key>
	<string>giác</string>
	<key>徒</key>
	<string>đồ</string>
	<key>畳</key>
	<string>điệp</string>
	<key>米</key>
	<string>mễ</string>
	<key>解</key>
	<string>giải</string>
	<key>辺</key>
	<string>biên</string>
	<key>察</key>
	<string>sát</string>
	<key>役</key>
	<string>dịch</string>
	<key>美</key>
	<string>mỹ</string>
	<key>術</key>
	<string>thuật</string>
	<key>坂</key>
	<string>phản</string>
	<key>寺</key>
	<string>tự</string>
	<key>湾</key>
	<string>loan</string>
	<key>島</key>
	<string>đảo</string>
	<key>岸</key>
	<string>ngạn</string>
	<key>園</key>
	<string>viên</string>
	<key>湖</key>
	<string>hồ</string>
	<key>城</key>
	<string>thành</string>
	<key>谷</key>
	<string>cốc</string>
	<key>財</key>
	<string>tài</string>
	<key>観</key>
	<string>quan</string>
	<key>宝</key>
	<string>báu</string>
	<key>王</key>
	<string>vương</string>
	<key>銅</key>
	<string>đồng</string>
	<key>塔</key>
	<string>tháp</string>
	<key>絵</key>
	<string>hội</string>
	<key>略</key>
	<string>lược</string>
	<key>順</key>
	<string>thuận</string>
	<key>版</key>
	<string>phản</string>
	<key>芸</key>
	<string>nghệ</string>
	<key>複</key>
	<string>phức</string>
	<key>刊</key>
	<string>san</string>
	<key>層</key>
	<string>tầng</string>
	<key>束</key>
	<string>thúc</string>
	<key>甘</key>
	<string>cam</string>
	<key>辛</key>
	<string>tân</string>
	<key>綿</key>
	<string>miên</string>
	<key>旧</key>
	<string>cựu</string>
	<key>厚</key>
	<string>hậu</string>
	<key>薄</key>
	<string>bạc</string>
	<key>粒</key>
	<string>lạp</string>
	<key>極</key>
	<string>cực</string>
	<key>革</key>
	<string>cách</string>
	<key>苦</key>
	<string>khổ</string>
	<key>富</key>
	<string>phú</string>
	<key>仏</key>
	<string>phật</string>
	<key>求</key>
	<string>cầu</string>
	<key>簡</key>
	<string>giản</string>
	<key>単</key>
	<string>đơn</string>
	<key>許</key>
	<string>hứa</string>
	<key>給</key>
	<string>cấp</string>
	<key>与</key>
	<string>dự</string>
	<key>応</key>
	<string>ứng</string>
	<key>課</key>
	<string>khoá</string>
	<key>制</key>
	<string>chế</string>
	<key>講</key>
	<string>cấu</string>
	<key>級</key>
	<string>cấp</string>
	<key>基</key>
	<string>cơ</string>
	<key>導</key>
	<string>đạo</string>
	<key>庭</key>
	<string>đình</string>
	<key>育</key>
	<string>dục</string>
	<key>猫</key>
	<string>miêu</string>
	<key>探</key>
	<string>thám</string>
	<key>灰</key>
	<string>hôi</string>
	<key>輪</key>
	<string>giới</string>
	<key>晩</key>
	<string>vãng</string>
	<key>劇</key>
	<string>kịch</string>
	<key>公</key>
	<string>công</string>
	<key>踊</key>
	<string>dũng</string>
	<key>種</key>
	<string>chủng</string>
	<key>匹</key>
	<string>thất</string>
	<key>度</key>
	<string>độ</string>
	<key>馬</key>
	<string>mã</string>
	<key>貝</key>
	<string>bối</string>
	<key>酒</key>
	<string>tửu</string>
	<key>蒸</key>
	<string>chưng</string>
	<key>干</key>
	<string>cang</string>
	<key>竹</key>
	<string>trúc</string>
	<key>卵</key>
	<string>noãn</string>
	<key>根</key>
	<string>căn</string>
	<key>材</key>
	<string>tài</string>
	<key>砂</key>
	<string>sa</string>
	<key>乳</key>
	<string>nhũ</string>
	<key>含</key>
	<string>hàm</string>
	<key>炭</key>
	<string>thán</string>
	<key>脂</key>
	<string>chi</string>
	<key>筒</key>
	<string>đồng</string>
	<key>卒</key>
	<string>tốt</string>
	<key>績</key>
	<string>tích</string>
	<key>志</key>
	<string>chí</string>
	<key>述</key>
	<string>thuật</string>
	<key>構</key>
	<string>cấu</string>
	<key>遅</key>
	<string>trì</string>
	<key>仮</key>
	<string>giả</string>
	<key>机</key>
	<string>kỷ</string>
	<key>冊</key>
	<string>sách</string>
	<key>採</key>
	<string>thải</string>
	<key>濃</key>
	<string>nồng</string>
	<key>筆</key>
	<string>duyên</string>
	<key>航</key>
	<string>hàng</string>
	<key>陸</key>
	<string>lục</string>
	<key>損</key>
	<string>tổn</string>
	<key>候</key>
	<string>hậu</string>
	<key>船</key>
	<string>thuyền</string>
	<key>丸</key>
	<string>hoàn</string>
	<key>混</key>
	<string>hỗn</string>
	<key>想</key>
	<string>tưởng</string>
	<key>故</key>
	<string>cố</string>
	<key>乱</key>
	<string>loạn</string>
	<key>河</key>
	<string>hà</string>
	<key>輸</key>
	<string>thâu</string>
	<key>率</key>
	<string>xuất</string>
	<key>宇</key>
	<string>vũ</string>
	<key>戸</key>
	<string>hộ</string>
	<key>晴</key>
	<string>tình</string>
	<key>曇</key>
	<string>vân</string>
	<key>雪</key>
	<string>tuyết</string>
	<key>恵</key>
	<string>tuệ</string>
	<key>陽</key>
	<string>dương</string>
	<key>雲</key>
	<string>đàm</string>
	<key>州</key>
	<string>châu</string>
	<key>波</key>
	<string>ba</string>
	<key>盗</key>
	<string>đạo</string>
	<key>逃</key>
	<string>đào</string>
	<key>疑</key>
	<string>nghi</string>
	<key>捕</key>
	<string>bổ/bộ</string>
	<key>絶</key>
	<string>tuyệt</string>
	<key>党</key>
	<string>đảng</string>
	<key>補</key>
	<string>bổ</string>
	<key>童</key>
	<string>đồng</string>
	<key>爆</key>
	<string>bộc</string>
	<key>暴</key>
	<string>bộc</string>
	<key>亡</key>
	<string>vong</string>
	<key>罪</key>
	<string>tội</string>
	<key>型</key>
	<string>hình</string>
	<key>欧</key>
	<string>âu</string>
	<key>労</key>
	<string>lao</string>
	<key>兆</key>
	<string>đào</string>
	<key>易</key>
	<string>mậu</string>
	<key>農</key>
	<string>nông</string>
	<key>命</key>
	<string>mệnh</string>
	<key>被</key>
	<string>bị</string>
	<key>害</key>
	<string>cáo</string>
	<key>権</key>
	<string>quyền</string>
	<key>星</key>
	<string>tinh</string>
	<key>武</key>
	<string>võ</string>
	<key>巨</key>
	<string>cự</string>
	<key>競</key>
	<string>cạnh</string>
	<key>逆</key>
	<string>nghịch</string>
	<key>勝</key>
	<string>thắng</string>
	<key>投</key>
	<string>đầu</string>
	<key>軍</key>
	<string>quân</string>
	<key>兵</key>
	<string>binh</string>
	<key>捜</key>
	<string>sưu</string>
	<key>倒</key>
	<string>đảo</string>
	<key>骨</key>
	<string>cốt</string>
	<key>針</key>
	<string>châm</string>
	<key>叫</key>
	<string>khiếu</string>
	<key>脳</key>
	<string>não</string>
	<key>抱</key>
	<string>bão</string>
	<key>双</key>
	<string>song</string>
	<key>尊</key>
	<string>tôn</string>
	<key>雇</key>
	<string>cố</string>
	<key>条</key>
	<string>điều</string>
	<key>善</key>
	<string>thiện</string>
	<key>律</key>
	<string>luật</string>
	<key>勢</key>
	<string>thế</string>
	<key>布</key>
	<string>bố</string>
	<key>荒</key>
	<string>hoang</string>
	<key>耕</key>
	<string>canh</string>
	<key>景</key>
	<string>cảnh</string>
	<key>掘</key>
	<string>quật</string>
	<key>批</key>
	<string>phê</string>
	<key>判</key>
	<string>phán</string>
	<key>臣</key>
	<string>thần</string>
	<key>賢</key>
	<string>hiền</string>
	<key>勇</key>
	<string>dũng</string>
	<key>敬</key>
	<string>kính</string>
	<key>評</key>
	<string>bình</string>
	<key>似</key>
	<string>tự</string>
	<key>犯</key>
	<string>phạm</string>
	<key>孫</key>
	<string>tôn</string>
	<key>娘</key>
	<string>nương</string>
	<key>覚</key>
	<string>giác</string>
	<key>帽</key>
	<string>mão</string>
	<key>環</key>
	<string>hoàn</string>
	<key>境</key>
	<string>cảnh</string>
	<key>減</key>
	<string>giảm</string>
	<key>努</key>
	<string>nỗ</string>
	<key>庁</key>
	<string>sảnh</string>
	<key>官</key>
	<string>quán</string>
	<key>宙</key>
	<string>trụ</string>
	<key>独</key>
	<string>độc</string>
	<key>技</key>
	<string>kỹ</string>
	<key>政</key>
	<string>chính</string>
	<key>況</key>
	<string>huống</string>
	<key>腕</key>
	<string>oản</string>
	<key>程</key>
	<string>trình</string>
	<key>植</key>
	<string>thực</string>
	<key>論</key>
	<string>luận</string>
	<key>億</key>
	<string>ức</string>
	<key>敗</key>
	<string>bại</string>
	<key>昇</key>
	<string>thăng</string>
	<key>幅</key>
	<string>phúc</string>
	<key>占</key>
	<string>chiêm</string>
	<key>著</key>
	<string>trứ</string>
	<key>較</key>
	<string>hiệu</string>
	<key>漁</key>
	<string>ngư</string>
	<key>底</key>
	<string>để</string>
	<key>鉱</key>
	<string>khoáng</string>
	<key>彼</key>
	<string>bỉ</string>
	<key>滴</key>
	<string>trích</string>
	<key>偉</key>
	<string>vĩ</string>
	<key>則</key>
	<string>tắc</string>
	<key>測</key>
	<string>trắc</string>
	<key>零</key>
	<string>linh</string>
	<key>織</key>
	<string>chức</string>
	<key>偶</key>
	<string>ngẫu</string>
	<key>隅</key>
	<string>góc</string>
	<key>狭</key>
	<string>hiệp</string>
	<key>群</key>
	<string>quần</string>
	<key>祖</key>
	<string>tổ</string>
	<key>棒</key>
	<string>bổng</string>
	<key>吹</key>
	<string>xuý</string>
	<key>珍</key>
	<string>trân</string>
	<key>怒</key>
	<string>nộ</string>
	<key>坊</key>
	<string>phường</string>
	<key>岩</key>
	<string>nham</string>
	<key>枯</key>
	<string>khô</string>
	<key>舟</key>
	<string>chu</string>
	<key>貧</key>
	<string>bần</string>
	<key>咲</key>
	<string>tiếu</string>
	<key>畜</key>
	<string>súc</string>
	<key>息</key>
	<string>tức</string>
	<key>血</key>
	<string>huyết</string>
	<key>臓</key>
	<string>tạng</string>
	<key>圧</key>
	<string>áp</string>
	<key>液</key>
	<string>dịch</string>
	<key>鼻</key>
	<string>tỵ</string>
	<key>疲</key>
	<string>bì</string>
	<key>胸</key>
	<string>hung</string>
	<key>吸</key>
	<string>hấp</string>
	<key>胃</key>
	<string>vị</string>
	<key>腹</key>
	<string>phục</string>
	<key>背</key>
	<string>bối</string>
	<key>翌</key>
	<string>dực</string>
	<key>軒</key>
	<string>hiên</string>
	<key>毒</key>
	<string>độc</string>
	<key>若</key>
	<string>nhược</string>
	<key>拾</key>
	<string>thập</string>
	<key>浮</key>
	<string>phù</string>
	<key>沈</key>
	<string>trầm</string>
	<key>鋭</key>
	<string>nhuệ</string>
	<key>鈍</key>
	<string>độn</string>
	<key>否</key>
	<string>phủ</string>
	<key>看</key>
	<string>khán</string>
	<key>板</key>
	<string>bản</string>
	<key>羽</key>
	<string>vũ</string>
	<key>第</key>
	<string>đệ</string>
	<key>総</key>
	<string>tổng</string>
	<key>成</key>
	<string>thành</string>
</dict>
</plist>
